Repository baigcoder/shopping-expense-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --max-warnings=0"
    ],
    "*.{json,md,css,scss}": [
        "prettier --write"
    ],
    "frontend/src/**/*.{ts,tsx}": [
        "eslint --fix --max-warnings=0"
    ],
    "backend/src/**/*.ts": [
        "eslint --fix --max-warnings=0"
    ]
}

Finish Calm Finance on dashboard pages: drop leftover Stark copy and hard black cards.
  frontend/src/components/AddCardModal.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/TransactionModal.tsx
  frontend/src/components/dashboard/MoneyTwinPulse.tsx
  frontend/src/index.css
  frontend/src/pages/AnalyticsPage.module.css
  frontend/src/pages/AnalyticsPage.tsx
  frontend/src/pages/BillRemindersPage.tsx
  frontend/src/pages/CardsPage.tsx
  frontend/src/pages/ContactPage.tsx
  frontend/src/pages/DashboardPage.module.css
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/FAQPage.tsx
  frontend/src/pages/InsightsPage.tsx
  frontend/src/pages/MoneyTwinPage.tsx
  frontend/src/pages/ReportsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/ShoppingActivityPage.tsx
  frontend/src/pages/TransactionInboxPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Show every Cashly feature on the landing page, including how capture, review, and analysis work.
  frontend/src/components/landing/Analyze.tsx
  frontend/src/components/landing/FAQ.tsx
  frontend/src/components/landing/Features.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/landing/HowItWorks.tsx
  frontend/src/components/landing/MarketingChrome.tsx
  frontend/src/components/landing/featureCatalog.ts
  frontend/src/pages/FeaturesPage.tsx
  frontend/src/pages/LandingPage.tsx
Due: eslint --fix --max-warnings=0

feat: Add interactive Live Demo OS, extension interceptor simulation, PKR support, and fix Google OAuth endpoint routing
  frontend/index.html
  frontend/public/favicon.svg
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/components/AIChatbot.tsx
  frontend/src/components/CommandPalette.tsx
  frontend/src/components/LoadingSkeleton.tsx
  frontend/src/components/RunwaySimulator.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/WeeklyDebriefModal.tsx
  frontend/src/components/brand/CashlyLoader.tsx
  frontend/src/components/brand/CashlyLogo.tsx
  frontend/src/components/landing/CompetitorMatrix.tsx
  frontend/src/components/landing/DesktopShowcase.tsx
  frontend/src/components/landing/EditorialHero.tsx
  frontend/src/components/landing/ExtensionShowcase.tsx
  frontend/src/components/landing/LifecycleStory.tsx
  frontend/src/components/landing/MarketingChrome.tsx
  frontend/src/components/landing/MobileShowcase.tsx
  frontend/src/components/landing/MoneyTwinShowcase.tsx
  frontend/src/components/landing/PillarSystem.tsx
  frontend/src/components/landing/ProductTriptych.tsx
  frontend/src/components/landing/landing.css
  frontend/src/components/landing/useLandingSettings.ts
  frontend/src/config/branding.ts
  frontend/src/config/supabase.ts
  frontend/src/index.css
  frontend/src/layouts/AuthLayout.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/DemoOSPage.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/MoneyTwinPage.tsx
  frontend/src/pages/TransactionInboxPage.tsx
  frontend/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings=0, prettier --write

fix: Secure Supabase anon keys into env vars and resolve infinite loading on dashboard
  backend/src/config/supabase.ts
  frontend/src/config/supabase.ts
  frontend/src/pages/DashboardPage.tsx
Due: eslint --fix --max-warnings=0

fix: Resilient OAuth callback exchange timeout, non-blocking auth hydration, and API timeout
  frontend/src/App.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/services/api.ts
Due: eslint --fix --max-warnings=0

feat(ui): complete UI/UX audit redesign into calm financial command center
  frontend/src/components/TransactionModal.tsx
  frontend/src/index.css
  frontend/src/pages/AnalyticsPage.tsx
  frontend/src/pages/BudgetsPage.tsx
  frontend/src/pages/CardsPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/DemoOSPage.tsx
  frontend/src/pages/SubscriptionsPage.tsx
  frontend/src/pages/TransactionsPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(security): implement full security audit remediation (SEC-01 to SEC-13) and regression tests
  .gitignore
  SECURITY_REMEDIATION_REPORT.md
  ai-server/main.py
  backend/package-lock.json
  backend/package.json
  backend/src/__tests__/securityRegression.test.ts
  backend/src/app.ts
  backend/src/controllers/__tests__/otpController.test.ts
  backend/src/controllers/cardController.ts
  backend/src/controllers/otpController.ts
  backend/src/controllers/plaid.controller.ts
  backend/src/controllers/resetController.ts
  backend/src/routes/plaid.routes.ts
  backend/src/services/encryptionService.ts
  backend/src/utils/userAuth.ts
  frontend/.env.production
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddCardModal.tsx
  frontend/src/services/cardService.ts
  frontend/src/store/useStore.ts
  supabase/migrations/00_consolidated_migration.sql
  supabase/migrations/20261008_pci_dss_card_hardening.sql
  supabase/migrations/create_cards_table.sql
  vibecoder-review.md
Due: eslint --fix --max-warnings=0, prettier --write

perf: complete performance engineering pass and automated regression guards
  PERF.md
  backend/src/controllers/transactionController.ts
  backend/src/services/dashboardService.ts
  backend/src/services/transactionDomainService.ts
  baseline_metrics.json
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/pages/AuthCallback.tsx
  frontend/src/store/useStore.ts
  frontend/tsconfig.tsbuildinfo
  frontend/vite.config.ts
  scripts/benchmarks/run_verification.js
  scripts/check-perf-budgets.js
  supabase/migrations/20261008_perf_composite_indexes.sql
  verified_metrics.json
Due: eslint --fix --max-warnings=0, prettier --write

fix(db): correct table name to transaction_candidates and guard index creation with table existence checks
  supabase/migrations/20261008_perf_composite_indexes.sql
Due: none
