Repository baigcoder/shopping-expense-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --max-warnings=0"
    ],
    "*.{json,md,css,scss}": [
        "prettier --write"
    ],
    "frontend/src/**/*.{ts,tsx}": [
        "eslint --fix --max-warnings=0"
    ],
    "backend/src/**/*.ts": [
        "eslint --fix --max-warnings=0"
    ]
}

ui: Refine Quick Add modal for compact and premium look
  frontend/src/components/QuickAddFAB.module.css
Due: prettier --write

fix: FAB and AI Chat icon sizes and positions
  frontend/src/components/AIChatbot.module.css
  frontend/src/components/QuickAddFAB.module.css
Due: prettier --write

fix: Push FAB and AI Chat icons more to the right (16px)
  frontend/src/components/AIChatbot.module.css
  frontend/src/components/QuickAddFAB.module.css
Due: prettier --write

fix: Smaller FAB and AI Chat icons aligned to far right
  frontend/src/components/AIChatbot.module.css
  frontend/src/components/QuickAddFAB.module.css
Due: prettier --write

fix: Match AI Chat and FAB button sizes (36x36px)
  frontend/src/components/AIChatbot.tsx
Due: eslint --fix --max-warnings=0

docs: Comprehensive README with modern styling
  README.md
Due: prettier --write

docs: Add live demo link to README
  README.md
Due: prettier --write

fix: standardize mobile floating button positions to prevent overlapping and clipping
  frontend/src/components/AIChatbot.tsx
  frontend/src/components/ExtensionAlert.tsx
  frontend/src/components/QuickAddFAB.module.css
  frontend/src/components/VoiceCallModal.tsx
  frontend/src/components/VoiceSetupModal.tsx
  frontend/src/hooks/useExtensionSync.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: auth sync bugs + 5 enhancements
  backend/extension/background.js
  backend/extension/config.js
  frontend/src/components/ExtensionGate.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/SyncStatusIndicator.module.css
  frontend/src/components/SyncStatusIndicator.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useExtensionSync.ts
  frontend/src/hooks/useRealtimeSync.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: prevent stale cache causing false Active extension status
  frontend/src/components/ExtensionStatsCard.tsx
  frontend/src/hooks/useExtensionSync.ts
Due: eslint --fix --max-warnings=0

fix: ensure alerts show when extension not installed
  frontend/src/components/ExtensionAlert.tsx
Due: eslint --fix --max-warnings=0

fix: ExtensionGate now properly blocks access without extension
  frontend/src/components/ExtensionGate.tsx
Due: eslint --fix --max-warnings=0

chore: keep console.error/warn in production for debugging
  frontend/vite.config.ts
Due: eslint --fix --max-warnings=0

feat: realtime extension removal detection (~3s)
  backend/extension/content-website.js
  frontend/src/hooks/useExtensionSync.ts
Due: eslint --fix --max-warnings=0

fix: realtime extension sync and removal detection
  backend/extension/content-website.js
  frontend/src/components/ExtensionRequiredModal.tsx
  frontend/src/hooks/useAuth.ts
Due: eslint --fix --max-warnings=0

feat(extension): v8.0.0 - Enterprise grade with universal payment detection
  backend/extension/manifest.json
Due: prettier --write

Improve Cashly mobile responsiveness (extension configs, alerts)
  backend/extension/config.js
  backend/extension/expense-tracker-chrome-v2/config.js
  backend/extension/expense-tracker-chrome-v2/popup.js
  backend/extension/popup.css
  frontend/.env.example
  frontend/.env.production
  frontend/public/extension-chrome/config.js
  frontend/public/extension-chrome/popup.js
  frontend/public/extension/config.js
  frontend/public/extension/expense-tracker-chrome-v2/config.js
  frontend/public/extension/expense-tracker-chrome-v2/popup.js
  frontend/public/extension/popup.js
  frontend/public/extension/vibetracker-chrome/config.js
  frontend/public/extension/vibetracker-chrome/popup.js
  frontend/public/extension/vibetracker-firefox/popup.js
  frontend/src/components/ExtensionAlert.tsx
  frontend/src/components/ExtensionWall.tsx
  frontend/src/hooks/useExtensionSync.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: auto-fallback to redirect when Google OAuth popup is blocked
  frontend/public/extension-chrome/README.md
  frontend/src/config/supabase.ts
  frontend/src/hooks/useAuth.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: resolve Google sign-in race condition preventing dashboard redirect
  frontend/src/config/supabase.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Due: eslint --fix --max-warnings=0

fix: fallback to redirect on auth/unauthorized-domain too
  frontend/src/config/supabase.ts
Due: eslint --fix --max-warnings=0

fix: stop silently swallowing auth/unauthorized-domain error, add diagnostics
  frontend/src/config/supabase.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Due: eslint --fix --max-warnings=0

fix: X-Frame-Options DENY was blocking Firebase popup auth
  frontend/vercel.json
Due: prettier --write

chore: update Supabase keys to new project gmttqefcyqaxhlghcfpo
  frontend/.env.production
  frontend/src/config/supabase.ts
Due: eslint --fix --max-warnings=0

remove all Firebase, wire Supabase OTP signup flow
  backend/package-lock.json
  backend/package.json
  backend/src/config/supabase.ts
  backend/src/services/settingsService.ts
  backend/src/validators/schemas.ts
  frontend/src/config/supabase.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/src/pages/VerifyEmailPage.tsx
  frontend/src/vite-env.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

normalize /api prefix in otpService and plaidService
  frontend/src/services/otpService.ts
  frontend/src/services/plaidService.ts
Due: eslint --fix --max-warnings=0

fix deployed supabase auth routing
  backend/.env.example
  backend/src/app.ts
  backend/src/services/settingsService.ts
  frontend/.env.example
  frontend/.env.production
  frontend/api/[...path].ts
  frontend/src/App.tsx
  frontend/src/config/supabase.ts
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/vite-env.d.ts
Due: eslint --fix --max-warnings=0

Fix Google OAuth PKCE callback so sign-in completes reliably.
  frontend/.env.example
  frontend/src/App.tsx
  frontend/src/config/supabase.ts
  frontend/src/pages/LoginPage.tsx
Due: eslint --fix --max-warnings=0

Point Supabase config at live project so Google OAuth resolves.
  backend/extension/config.js
  backend/src/config/supabase.ts
  frontend/.env.production
  frontend/public/extension-chrome/config.js
  frontend/public/extension/config.js
  frontend/src/config/supabase.ts
Due: eslint --fix --max-warnings=0

Restore Insights coach plan state so the Vercel TypeScript build passes.
  frontend/src/pages/InsightsPage.tsx
Due: eslint --fix --max-warnings=0
