Repository baigcoder/shopping-expense-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat: Make frontend Vercel-compatible with performance optimizations
  frontend/.env.production
  frontend/index.html
  frontend/vercel.json
  frontend/vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: Remove unused Python AI servers
  ai-server/README.md
  ai-server/main.py
  ai-server/requirements.txt
  pdf-service/app.py
  pdf-service/requirements.txt
Due: prettier --write

feat: Add Railway deployment config
  backend/.env.example
  backend/Procfile
  backend/railway.json
Due: prettier --write

fix: Update Sentry config for v8 compatibility
  backend/src/config/sentry.ts
Due: eslint --fix --max-warnings=0

feat: Redesign extension sync toast with website theme and 4s auto-close
  frontend/src/services/genZToast.tsx
Due: eslint --fix --max-warnings=0

fix: Add /api prefix to Cloudflare Worker routes
  cloudflare-worker.js
Due: eslint --fix --max-warnings=0

fix: Force toast auto-close in 4s by disabling pauseOnHover
  frontend/src/services/genZToast.tsx
Due: eslint --fix --max-warnings=0

fix: Change bill_reminders to bills table to fix 404 errors
  frontend/src/services/aiDataCacheService.ts
  frontend/src/services/reminderService.ts
Due: eslint --fix --max-warnings=0

fix: Use env variable for ElevenLabs API key instead of hardcoded value
  frontend/src/components/VoiceCallModal.tsx
  frontend/src/components/VoiceSetupModal.tsx
Due: eslint --fix --max-warnings=0

fix: Replace hardcoded localhost URLs with dynamic VITE_API_URL
  frontend/src/components/AIChatbot.tsx
  frontend/src/components/VoiceCallModal.tsx
  frontend/src/components/VoiceSetupModal.tsx
Due: eslint --fix --max-warnings=0

fix: Sidebar starts closed, smoother animations, better UX
  frontend/src/components/Sidebar.tsx
  frontend/src/store/useStore.ts
Due: eslint --fix --max-warnings=0

feat: Move ElevenLabs TTS to backend for security, fix end call recording indicator
  backend/src/controllers/voiceController.ts
  backend/src/routes/voice.routes.ts
  frontend/src/components/VoiceCallModal.tsx
  frontend/src/components/VoiceSetupModal.tsx
Due: eslint --fix --max-warnings=0

fix: Use optionalAuth for TTS endpoint to fix 401 errors on voice setup
  backend/src/routes/voice.routes.ts
Due: eslint --fix --max-warnings=0

fix: Revert to direct ElevenLabs calls from browser to avoid server IP flagging
  frontend/src/components/VoiceCallModal.tsx
  frontend/src/components/VoiceSetupModal.tsx
Due: eslint --fix --max-warnings=0

fix: Switch to direct Railway API, use x-user-id header for voice endpoints
  backend/src/controllers/voiceController.ts
  backend/src/routes/voice.routes.ts
  frontend/.env.production
  frontend/src/components/AIChatbot.tsx
  frontend/src/components/VoiceSetupModal.tsx
Due: eslint --fix --max-warnings=0

fix: CORS and API route issues
  backend/src/app.ts
  frontend/src/components/AIChatbot.tsx
  frontend/src/components/VoiceCallModal.tsx
  frontend/src/components/VoiceSetupModal.tsx
Due: eslint --fix --max-warnings=0

fix: ensure API base URL always includes /api suffix
  frontend/src/services/api.ts
Due: eslint --fix --max-warnings=0

feat: Add Railway deployment config for AI service
  ai-server/.env.example
  ai-server/Procfile
  ai-server/RAILWAY_DEPLOY.md
  ai-server/nixpacks.toml
  ai-server/railway.json
  ai-server/railway.toml
  ai-server/requirements.txt
Due: prettier --write

fix: Railway build - use python -m pip instead of pip directly
  ai-server/Procfile
  ai-server/nixpacks.toml
  ai-server/railway.json
Due: prettier --write

fix: Let Nixpacks auto-detect Python (handles pip correctly)
  ai-server/.python-version
  ai-server/nixpacks.toml
  ai-server/railway.json
  ai-server/railway.toml
Due: prettier --write

fix: Use Dockerfile instead of Nixpacks for reliable Python build
  ai-server/Dockerfile
  ai-server/nixpacks.toml
  ai-server/railway.json
Due: prettier --write

feat: Add production URLs to CORS and create deployment docs
  DEPLOYMENT.md
  ai-server/main.py
Due: prettier --write

fix: Use VITE_AI_SERVER_URL for AI service instead of hardcoded localhost
  frontend/src/components/DocumentImportModal.tsx
  frontend/src/components/VoiceCallModal.tsx
  frontend/src/components/VoiceSetupModal.tsx
  frontend/src/services/pdfAnalyzerService.ts
  frontend/src/vite-env.d.ts
Due: eslint --fix --max-warnings=0

chore: Remove console.log statements from extension for production
  backend/extension/content-website.js
Due: eslint --fix --max-warnings=0

fix: Skip extension requirement on mobile devices
  frontend/src/components/ExtensionGate.tsx
Due: eslint --fix --max-warnings=0

feat: Add mobile quick-add transaction button in header
  frontend/src/components/Header.module.css
  frontend/src/components/Header.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: Mobile voice recognition - accumulate words into complete sentences
  frontend/src/components/VoiceCallModal.tsx
Due: eslint --fix --max-warnings=0

feat: Extension v6.0 with download links and installation guide
  backend/extension/manifest.json
  backend/extension/popup.css
  frontend/src/components/ExtensionStatsCard.module.css
  frontend/src/pages/Auth.module.css
  frontend/src/pages/DashboardPage.module.css
  frontend/src/pages/LandingPage.module.css
Due: prettier --write

refactor: Simplify page loading skeleton
  frontend/src/App.tsx
Due: eslint --fix --max-warnings=0

style: Update favicon and branding to Cashly blue theme
  frontend/index.html
  frontend/public/favicon.svg
  frontend/public/logo.svg
Due: none

fix: ExtensionAlert realtime detection improvements
  backend/extension/content-website.js
  frontend/public/cashly-extension.zip
  frontend/src/components/ExtensionAlert.module.css
  frontend/src/components/ExtensionAlert.tsx
  frontend/src/hooks/useExtensionSync.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Production readiness improvements (9.2 to 9.5)
  backend/src/middleware/cache.ts
  backend/src/routes/analytics.routes.ts
  backend/src/routes/category.routes.ts
  backend/src/routes/index.ts
  frontend/.env.example
Due: eslint --fix --max-warnings=0

feat: Mobile UX improvements for production readiness
  frontend/src/hooks/useMobile.ts
  frontend/src/index.css
Due: eslint --fix --max-warnings=0, prettier --write

feat: Show smaller FAB on mobile above AI chat button
  frontend/src/components/QuickAddFAB.module.css
Due: prettier --write

feat: Add Open Extension button to Extension Tracking card
  frontend/src/components/ExtensionStatsCard.module.css
  frontend/src/components/ExtensionStatsCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: Open Extension button now shows helpful toast instructions
  frontend/src/components/ExtensionStatsCard.tsx
Due: eslint --fix --max-warnings=0

fix: FAB and AI chat button clipping - vertical stack
  frontend/src/components/AIChatbot.module.css
  frontend/src/components/QuickAddFAB.module.css
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: ((any of: *.{js,jsx,ts,tsx}) or (any of: frontend/src/**/*.{ts,tsx})) or (any of: backend/src/**/*.ts)
  prettier --write: any of: *.{json,md,css,scss}
